body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background:  black !important;
  display:flex;
  justify-content: center;
  height: 100vh;
  overflow:hidden;
  min-height: fill-available;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,h2,h3 {
  color: white;
}

p {
  color: white;
}

#root {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin: 0;
  height: 100vh;
  padding: 0;
  min-height: fill-available;
}

.App {
  flex-direction: column;
  text-align: center;
  width: 100vw;
  max-width: 480px;
  min-height: fill-available;
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 600px) {
  .App { max-width: 100vw; }
}

.App-logo {
  height: 48px;
  width: 48px;
  pointer-events: none;
  margin-bottom: 12px;
  margin-right: 8px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}